# Join Statements - Lab

## Introduction

In this lab, you'll practice your knowledge on Join statements.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table we will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, we'll use the same Customer Relationship Management (CRM) database we used in our lecture before!
<img src='Database-Schema.png' width=550>

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [2]:
#Your code here

import sqlite3
import pandas as pd

conn = sqlite3.connect('data.sqlite', detect_types=sqlite3.PARSE_COLNAMES)
cur = conn.cursor()

## Display the names of all the employees in Boston.

In [19]:
#Your code here

cur.execute('''SELECT firstname, lastname, city FROM employees
join offices
using(officeCode)
WHERE city = 'Boston';
''')

df = pd.DataFrame(cur.fetchall()) #Take results and create dataframe
df.columns = [i[0] for i in cur.description]
df

  firstName   lastName    city
0     Julie   Firrelli  Boston
1     Steve  Patterson  Boston

## Do any offices have no employees?

In [8]:
#Your code here
cur.execute('''SELECT city, count(*) FROM offices
join employees
using(officeCode)
GROUP BY 1''')
df = pd.DataFrame(cur.fetchall()) #Take results and create dataframe
df.columns = [i[0] for i in cur.description]
df

            city  count(*)
0         Boston         2
1         London         2
2            NYC         2
3          Paris         5
4  San Francisco         6
5         Sydney         4
6          Tokyo         2

## Level Up: Display the names of each product each employee has sold.

In [10]:
# Your code here
cur.execute("""SELECT e.emplo, productname FROM employees e
join customers c on e.employeenumber=c.salesrepemployeenumber
join orders o using(customernumber)
join orderdetails using(ordernumber)
join products using(productcode)
""")
df = pd.DataFrame(cur.fetchall()) #Take results and create dataframe
df.columns = [i[0] for i in cur.description]
df

     firstName  lastName                                  productName
0       Leslie  Jennings                               1958 Setra Bus
1       Leslie  Jennings                       1940 Ford Pickup Truck
2       Leslie  Jennings                      1939 Cadillac Limousine
3       Leslie  Jennings  1996 Peterbilt 379 Stake Bed with Outrigger
4       Leslie  Jennings                            1968 Ford Mustang
5       Leslie  Jennings                           1968 Dodge Charger
6       Leslie  Jennings                      1970 Plymouth Hemi Cuda
7       Leslie  Jennings                           1969 Dodge Charger
8       Leslie  Jennings                  1948 Porsche 356-A Roadster
9       Leslie  Jennings                         1969 Dodge Super Bee
10      Leslie  Jennings                        1976 Ford Gran Torino
11      Leslie  Jennings                             1957 Vespa GS150
12      Leslie  Jennings                    1957 Corvette Convertible
13      Leslie  Jennings                      1982 Ducati 900 Monster
14      Leslie  Jennings                      1982 Lamborghini Diablo
15      Leslie  Jennings                    1971 Alpine Renault 1600s
16      Leslie  Jennings                      1956 Porsche 356A Coupe
17      Leslie  Jennings                        1961 Chevrolet Impala
18      Leslie  Jennings                            1982 Ducati 996 R
19      Leslie  Jennings                    1974 Ducati 350 Mk3 Desmo
20      Leslie  Jennings                           2002 Yamaha YZR M1
21      Leslie  Jennings                            2001 Ferrari Enzo
22      Leslie  Jennings                           1969 Corvair Monza
23      Leslie  Jennings                             1969 Ford Falcon
24      Leslie  Jennings                            1903 Ford Model A
25      Leslie  Jennings                     Collectable Wooden Train
26      Leslie  Jennings                        1970 Triumph Spitfire
27      Leslie  Jennings                          1904 Buick Runabout
28      Leslie  Jennings                        18th century schooner
29      Leslie  Jennings             1912 Ford Model T Delivery Wagon
...        ...       ...                                          ...
2966    Martin    Gerard                     1917 Grand Touring Sedan
2967    Martin    Gerard                           1911 Ford Town Car
2968    Martin    Gerard                    1932 Model A Ford J-Coupe
2969    Martin    Gerard                       1928 Mercedes-Benz SSK
2970    Martin    Gerard                  1939 Chevrolet Deluxe Coupe
2971    Martin    Gerard    1938 Cadillac V-16 Presidential Limousine
2972    Martin    Gerard             1936 Mercedes Benz 500k Roadster
2973    Martin    Gerard                            2001 Ferrari Enzo
2974    Martin    Gerard                           1969 Corvair Monza
2975    Martin    Gerard                      1939 Cadillac Limousine
2976    Martin    Gerard                     1962 Volkswagen Microbus
2977    Martin    Gerard                        1936 Chrysler Airflow
2978    Martin    Gerard                  1980’s GM Manhattan Express
2979    Martin    Gerard  1996 Peterbilt 379 Stake Bed with Outrigger
2980    Martin    Gerard                              1982 Camaro Z28
2981    Martin    Gerard                            1957 Chevy Pickup
2982    Martin    Gerard               1998 Chrysler Plymouth Prowler
2983    Martin    Gerard                       1964 Mercedes Tour Bus
2984    Martin    Gerard                        1926 Ford Fire Engine
2985    Martin    Gerard                  1992 Ferrari 360 Spider red
2986    Martin    Gerard                           1970 Dodge Coronet
2987    Martin    Gerard                     1962 Volkswagen Microbus
2988    Martin    Gerard          1958 Chevy Corvette Limited Edition
2989    Martin    Gerard            1992 Porsche Cayenne Turbo Silver
2990    Martin    Gerard                  1980’s GM Manhattan Express
2991    Martin    Gerard                  1954 Greyhound Scenicruiser
2992    Martin    Gerard       1950's Chicago Surface Lines Streetcar
2993    Martin    Gerard             Diamond T620 Semi-Skirted Tanker
2994    Martin    Gerard                           1911 Ford Town Car
2995    Martin    Gerard             1936 Mercedes Benz 500k Roadster

[2996 rows x 3 columns]

## Level Up: Display the Number of Products each Employee Has sold

In [ ]:
#Your code here

## Summary

Congrats! You now know how to use Join statements, along with leveraging your foreign keys knowledge!