# Join Statements - Lab

## Introduction

In this lab, you'll practice your knowledge on Join statements.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table we will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, we'll use the same Customer Relationship Management (CRM) database we used in our lecture before!
<img src='Database-Schema.png' width=550>

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [2]:
#Your code here

import sqlite3
import pandas as pd

conn = sqlite3.connect('data.sqlite', detect_types=sqlite3.PARSE_COLNAMES)
cur = conn.cursor()

## Display the names of all the employees in Boston.

In [19]:
#Your code here

cur.execute('''SELECT firstname, lastname, city FROM employees
join offices
using(officeCode)
WHERE city = 'Boston';
''')

df = pd.DataFrame(cur.fetchall()) #Take results and create dataframe
df.columns = [i[0] for i in cur.description]
df

  firstName   lastName    city
0     Julie   Firrelli  Boston
1     Steve  Patterson  Boston

## Do any offices have no employees?

In [8]:
#Your code here
cur.execute('''SELECT city, count(*) FROM offices
join employees
using(officeCode)
GROUP BY 1''')
df = pd.DataFrame(cur.fetchall()) #Take results and create dataframe
df.columns = [i[0] for i in cur.description]
df

            city  count(*)
0         Boston         2
1         London         2
2            NYC         2
3          Paris         5
4  San Francisco         6
5         Sydney         4
6          Tokyo         2

## Level Up: Display the names of each product each employee has sold.

In [5]:
# Your code here
cur.execute("""SELECT e.firstname, e.lastname, productcode FROM employees e
join customers c on e.employeenumber=c.salesrepemployeenumber
join orders o using(customernumber)
join orderdetails using(ordernumber)
join products using(productcode)
g""")
df = pd.DataFrame(cur.fetchall()) #Take results and create dataframe
df.columns = [i[0] for i in cur.description]
df

     firstName  lastName productCode
0       Leslie  Jennings    S12_1666
1       Leslie  Jennings    S18_1097
2       Leslie  Jennings    S18_4668
3       Leslie  Jennings    S32_3522
4       Leslie  Jennings    S12_1099
5       Leslie  Jennings    S12_3380
6       Leslie  Jennings    S12_3990
7       Leslie  Jennings    S12_4675
8       Leslie  Jennings    S18_1889
9       Leslie  Jennings    S18_3278
10      Leslie  Jennings    S18_3482
11      Leslie  Jennings    S18_3782
12      Leslie  Jennings    S18_4721
13      Leslie  Jennings    S24_2360
14      Leslie  Jennings    S24_2972
15      Leslie  Jennings    S24_3371
16      Leslie  Jennings    S24_3856
17      Leslie  Jennings    S24_4620
18      Leslie  Jennings    S32_2206
19      Leslie  Jennings    S32_4485
20      Leslie  Jennings    S50_4713
21      Leslie  Jennings    S12_1108
22      Leslie  Jennings    S12_3148
23      Leslie  Jennings    S12_3891
24      Leslie  Jennings    S18_3140
25      Leslie  Jennings    S18_3259
26      Leslie  Jennings    S18_4027
27      Leslie  Jennings    S18_4522
28      Leslie  Jennings    S24_2011
29      Leslie  Jennings    S24_3151
...        ...       ...         ...
2966    Martin    Gerard    S18_1749
2967    Martin    Gerard    S18_2248
2968    Martin    Gerard    S18_2325
2969    Martin    Gerard    S18_2795
2970    Martin    Gerard    S24_1937
2971    Martin    Gerard    S24_2022
2972    Martin    Gerard    S24_3969
2973    Martin    Gerard    S12_1108
2974    Martin    Gerard    S12_3148
2975    Martin    Gerard    S18_4668
2976    Martin    Gerard    S24_2300
2977    Martin    Gerard    S24_4258
2978    Martin    Gerard    S32_1268
2979    Martin    Gerard    S32_3522
2980    Martin    Gerard   S700_2824
2981    Martin    Gerard    S12_4473
2982    Martin    Gerard    S18_2238
2983    Martin    Gerard    S18_2319
2984    Martin    Gerard    S18_2432
2985    Martin    Gerard    S18_3232
2986    Martin    Gerard    S24_1444
2987    Martin    Gerard    S24_2300
2988    Martin    Gerard    S24_2840
2989    Martin    Gerard    S24_4048
2990    Martin    Gerard    S32_1268
2991    Martin    Gerard    S32_2509
2992    Martin    Gerard    S32_3207
2993    Martin    Gerard    S50_1392
2994    Martin    Gerard    S18_2248
2995    Martin    Gerard    S24_3969

[2996 rows x 3 columns]

## Level Up: Display the Number of Products each Employee Has sold

In [ ]:
#Your code here

## Summary

Congrats! You now know how to use Join statements, along with leveraging your foreign keys knowledge!